<section id="first-block">
    <div class="title-container">
      <%= image_tag "huku.png" %>
      <p>ReStartFashion</p><br>
    </div>
</section>
<div class="seiya">
<div class="search">
<h3>Search Post</h3>
</div>
 <%= form_tag({controller:"fashions",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag 'search'  %>
<% end %>

<%= page_entries_info @fashions %>
<%= paginate @fashions %>

<div class="fashions-container">
<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>
  <% @fashions.each do |t| %>
    <div class="fashion">
      <div class="fashion1">
        <h>総合評価：
        <span class="star-rating">
        <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
        <span class="star-rating-back">★★★★★</span>
        </span> 
        </h>
        <div class="fashion4">
        <%= t.name %>
        <%= t.address %>
        <%= t.about %>
        <%= link_to "detail", fashion_path(t.id) %>
        <%= link_to "Edit", edit_fashion_path(t.id) %>
        <%= button_to "delete", fashion_path(t.id), method: :delete %>
        </div>
      </div>
      <div class="fashion2">
        <%= image_tag t.image_url, size: "400x220" if t.image? %>
      </div>
    </div>
   
  <% end %>
  <div class="setsumei">
  <div class="setsumei1">
  <h3>About Us</h3>
</div>
  <div class="setsumei2">
  <%= image_tag "gomi.png" %>
  <p>このサイトは、多くの人に古くなった服を売るという選択肢を与えるために作りました。売れ残った服はアフリカの発展途上国へ渡り活用されていますが、活用できない量の服は処分されています。しかし、年々量が増加しており、処分できないまま山積み状態になっています。これはSDGsに関連される内容であり、改善する必要があると感じています。　そこでこのサイトを通して多くの人に、服を売れるお店を投稿していただき、環境に配慮するきっかけになるような場にしたいなと思います。ぜひ、みなさん、たくさん投稿してください！</p>
  </div>
</div>
</div>
</div>
