<body class ="seiya2">
<div class="seiya1">
<div class="aiueo">
<h3>NewPost</h3>
</div>
<br>
<%= form_for @fashion do |f| %>
  <div class="erena">
  <ul>
    <li><%= f.label :storename %></li>
    <li><%= f.text_field :name, :size => 30 %></li>
  </ul>
  </div>
  <div class="field2">
  <ul>
    <li><%= f.label :place %></li>
    <li><%= f.text_field :address, :size => 10 %></li>
  </ul>
  </div>
  <div class="field">
  <ul>
   <li> <%= f.label :comment  %></li>
    <li><%= f.text_area :about, :size => "30x2" %></li>
  </ul>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :image %>
  </div>
 <div class="fashion_form">
        <li>score</li>
        <div class="post_form">
          <%= f.radio_button :overall,  5 ,id: 'star6'%>
          <label for="star6"><span class="text">５</span>★</label>
          <%= f.radio_button :overall,  4 ,id: 'star7'%>
          <label for="star7"><span class="text">４</span>★</label>
          <%= f.radio_button :overall, 3 ,id: 'star8'%>
          <label for="star8"><span class="text">３</span>★</label>
          <%= f.radio_button :overall , 2 ,id: 'star9'%>
      <label for="star9"><span class="text">２</span>★</label>
      <%= f.radio_button :overall , 1 ,id: 'star10'%>
    <label for="star10"><span class="text">１</span>★</label>
        </div>
  </div>
  <div class="actions">
   <ul>
    <li><%= f.label :lat,"緯度" %></li>
    <li> <%= f.text_field :lat,:value =>"緯度", id: :lat %></li>
  </div>
    <div class="actions">
  <ul>
    <li><%= f.label :lng,"経度" %></li>
    <li><%= f.text_field :lng,:value =>"経度", id: :lng %></li>
  </ul>
    </div>
    <br><div class="aaaaa"> <%= f.submit %></div>
  </div>
<% end %>
</div>
</body>